<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body style="font-family: system-ui, sans-serif; color: #222; line-height: 1.5;">
    <%= yield %>
  </body>
</html>
